<nav class="navbar navbar-expand-sm bg-primary navbar-dark" >
          <ul class="navbar-n">
                   <li class="nav-item">
                    <a routerLink="consumers" 
                     routerLinkActive="active" class="nav-link">Conusmer List</a>
                   </li> 

<li class="nav-item">
                    <a routerLink="register-consumer" 
                     routerLinkActive="active" class="nav-link">Add Address</a>
                   </li> 


  <li class="nav-item">
                    <a routerLink="addresses" 
                     routerLinkActive="active" class="nav-link">Address List</a>
                   </li>                  

          </ul>
</nav>


<div class="container">
 <router-outlet ></router-outlet>
</div>



<footer class="footer">
          <div class="container">
                    <span>created using angular</span>
          </div>
</footer>


          
        
 
<h1 class="text-center" > {{title}} </h1>

<div class="container">
 <router-outlet></router-outlet>
</div>
